@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Caveat", cursive;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  min-height: 100vh;
  padding: 3.2rem 3.2rem;
  padding-bottom: 6rem;
}

#root {
  border: max(2rem) solid #9974388b;
}

.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

/* *************** */

.header {
  align-self: stretch;
  padding-bottom: max(2rem);
}

.header h1 {
  /* Non-accessible color */
  font-family: "Caveat", cursive;

  font-weight: bolder;
  color: #9974388b;

  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

/* .header h1::before,
.header h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 4rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
} */

/* *************** */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(2rem);
  padding: 0 0 max (2rem) 0;
}

.menu h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.375rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 2.1875rem;
  font-weight: 100;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.pizzas {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}

.pizza {
  display: flex;
  gap: 1.5625rem;
}

.pizza img {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
}

.pizza div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.4rem 0;
}

.pizza h3 {
  font-size: 3.125rem;
  font-weight: 600;
  font-weight: bolder;
  color: #755420a8;
}

.pizza p {
  font-size: 2.125rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizza span {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

/* *************** */

.footer {
  padding-top: max(2rem);
  font-size: 1.4rem;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: rgb(84, 84, 84);
  font-family: inherit;
  border: none;
  font-size: 1.875rem;
  font-weight: bolder;
  background-color: #9974388b;
  border-radius: 0.3125rem;
  padding: 0.9375rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #3b290e8b;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
